@import url("https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap");
::-moz-selection {
  color: #eee732;
  background-color: #1c1d1a;
}
::selection {
  color: #eee732;
  background-color: #1c1d1a;
}

.nopadding {
  padding-left: 0;
  padding-right: 0;
}

a {
  text-decoration: none;
}

.skewed {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  -webkit-transform: skewY(3deg);
          transform: skewY(3deg);
  -webkit-transform-origin: top left;
          transform-origin: top left;
}

.semiCircle {
  position: relative;
  background: #eee732;
  height: auto;
}

.semiCircle ::before {
  position: absolute;
  content: '';
  left: 50%;
  z-index: 10;
  width: 85px;
  height: 90px;
  border-radius: 50%;
  background: #eee732;
  background-image: url(../midia/foto.png);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  -webkit-transform: translateX(-50%) translateY(50%);
          transform: translateX(-50%) translateY(50%);
  bottom: 0px;
}

.container-fluid {
  padding: 0;
}

body {
  margin: 0;
  height: auto;
}

.botao {
  -webkit-box-shadow: inset 0px 34px 0px -15px #d4d4d4;
          box-shadow: inset 0px 34px 0px -15px #d4d4d4;
  background-color: #d6d6d6;
  border-radius: 4px;
  border: 2px solid #949494;
  display: inline-block;
  color: #1c1d1a;
  font-family: "Chelsea Market", cursive;
  font-size: 15px;
  font-weight: bold;
  padding: 9px 27px;
  text-decoration: none;
  text-shadow: 0px -1px 0px #242424;
}

.botao:hover {
  background-color: gray;
}

.botao :active {
  padding-top: 1px;
}

p {
  font-size: 1em;
  margin: 0;
  font-family: "Chelsea Market", cursive;
}

h1 {
  font-size: 2em;
  font-family: "Chelsea Market", cursive;
  margin: 0;
  padding: 15px 0px 15px 0px;
}

h2 {
  font-size: 1.3em;
  font-family: "Chelsea Market", cursive;
  margin: 0;
  padding: 15px 0px 15px 0px;
}

nav {
  background-color: #eee732;
  font-size: 1em;
}

nav .logo {
  position: absolute;
}

nav ul {
  text-align: right;
  vertical-align: top;
  height: 44px;
  padding-top: 10px;
  padding-right: 10px;
  margin: 0;
}

nav li {
  display: inline;
  border-right: #1c1d1a solid 1px;
  font-family: "Chelsea Market", cursive;
  margin-top: 0px;
  padding-top: 10px;
  padding-bottom: 13px;
  padding-right: 50px;
  padding-left: 50px;
  color: #1c1d1a;
}

nav li:hover {
  background: #1c1d1a;
  color: #eee732;
}

.frase {
  padding-left: 15px;
  width: 50%;
  display: inline-block;
  text-align: center;
  text-indent: right;
  vertical-align: top;
  padding-top: 30px;
}

.frase h2 {
  padding-left: 15px;
}

.frase .botao {
  margin-top: 20px;
}

.dog {
  display: inline-block;
  text-align: right;
}

.dog img {
  height: 350px;
}

.ta {
  display: inline-block;
  margin-left: 10%;
}

#biografia {
  background-color: #1c1d1a;
}

#biografia .bio {
  width: 100%;
  display: inline-block;
  color: #ffffff;
  padding-top: 30px;
  display: inline-block;
  text-align: center;
}

#biografia p {
  padding-bottom: 20px;
}

#biografia .skewed {
  background: #1c1d1a;
  background-image: url(../midia/patas.png);
}

#biografia .cursos {
  display: inline-block;
  color: #ffffff;
  vertical-align: top;
  text-align: center;
  width: 100%;
}

#biografia .cursos .programas {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition: 1s;
  transition: 1s;
}

#biografia .cursos .programas ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}

#biografia .cursos .programas li {
  border: none;
  padding-right: 10px;
}

#biografia .cursos .programas :hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#biografia .cursos .programas a {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition: 1s;
  transition: 1s;
}

#biografia .cursos .programas a :hover {
  -webkit-filter: saturate(0);
          filter: saturate(0);
}

#portfolio {
  padding-top: 40px;
  text-align: center;
  background-color: #eee732;
  background-image: url(../midia/head.png);
  background-attachment: fixed;
}

#portfolio h1 {
  margin-top: 0;
  padding-top: 10px;
  color: white;
  font-family: "Chelsea Market", cursive;
  width: 100%;
  text-shadow: 2px 2px 2px black;
  font-size: 3em;
  text-align: center;
}

#portfolio .box {
  width: 250px;
  height: 250px;
  border: 4px solid #ffffff;
  border-radius: 20px;
  overflow: hidden;
  display: inline-block;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition: .3s;
  transition: .3s;
}

#portfolio .box img {
  width: 100%;
  height: 100%;
}

#portfolio .box:hover {
  -webkit-filter: saturate(0);
          filter: saturate(0);
  width: 290px;
  height: 290px;
}

#fim {
  background-color: #1c1d1a;
  background-image: url(../midia/patas.png);
}

#fim .redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 60px;
}

#fim .techa {
  text-align: center;
  margin-top: 20px;
}

#fim .contato {
  text-align: center;
  color: #eee732;
}

.conteudo {
  -webkit-transform: skewY(-3deg);
          transform: skewY(-3deg);
}

@media (max-width: 400px) {
  .frase {
    width: 400px;
  }
}
/*# sourceMappingURL=estilos.css.map */